annotated-types
anyio
attrs
babel
beautifulsoup4
bibtexparser
certifi
cffi
charset-normalizer
clldutils
colorama
colorlog
csvw
distro
dlinfo
filelock
fsspec
groq
h11
httpcore
httpx
huggingface-hub
idna
isodate
Jinja2
joblib
jsonschema
jsonschema-specifications
language-tags
lxml
Markdown
MarkupSafe
mpmath
munch
networkx
numpy
packaging
phonemizer
pillow
pycparser
pydantic
pydantic_core
pylatexenc
pyparsing
python-dateutil
PyYAML
rdflib
referencing
regex
requests
rfc3986
rpds-py
safetensors
scipy
segments
setuptools
six
sniffio
soundfile
soupsieve
sympy
tabulate
tokenizers
torch
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
torchvision
tqdm
transformers
typing_extensions
uritemplate
urllib3
wheel
